*{
  scroll-behavior: smooth;
  margin: 5px;
}

header img{
  height: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-image: url("img/madara.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-size: 12px;
}

header {
  height: 100vh;
  width: 100%
}
nav {
  height: 5vh;
  width: 100%;
  position: fixed;
  z-index: 2;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
  justify-content: center;
  /* background-color:aquamarine; */
  height: 100%;
 
}
nav ul span {
  margin-right: 20px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  background-color: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
nav ul span:hover {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  border-radius: 10px 0px;
  color: blue;
}
a {
  text-decoration: none;
  transition: color 0.1s ease-in;
  color: white;
}

a:hover {
  
  color: black;
}
.contact-sources a:hover {
  color: purple;
}
.intro {
  position: absolute;
  top: 30vh;
  left: 30px;
  border: 0px solid black;
  padding: 8px;
  color: rgb(196, 8, 177);
  /*box-shadow: 5px 0px 5px black;*/
  font-size: 35px;
  background-color: transparent;
  height: 30%;

}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.intro b {
  color: white;
}
 

 .my-resumeBtn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.my-resumeBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg); 
}
 .my-resumeBtn-bg {
  transition: all 0.3s ease-in;
  height: 32.5px;
  width: 0;
  transform: translateY(-36px);
} 

/* About section */
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  height: 50vh;
  background-color: transparent;
  left: 50%;
  width: auto;
}


.about {
  width: 20%;
  height: 60px;
  background-color: bisque;
  font-size: 50px;
  padding: 0px;
  color: black;
  display: inline;
}
.about-data {
  width: 60%;
  color: silver;
  margin: 20px 0;
  padding: 10px;
  font-size: 30px;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  height: 45vh;
  background-color: transparent;
  left: 50vh;
  width: auto;
}

.blogs-title {
    width: 20%;
    height: 60px;
    background-color: bisque;
    font-size: 50px;
    padding: 0px;
    color: black;
    display: inline;
}

.blogs-data{
  background: gray;
  max-width: 550px;
  border-radius: 20px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  height: 250px;
  width: 900px;
}


.container_copy {
  padding: 40px;
  width: 480px;
  justify-content: center;
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 8.3rem;
  width: 8.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: white;
}

h1 {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: black;
}

p {
  font-size: 15px;
  line-height: 1.45;
  color: white;
  text-align: center;
  padding: 8px;
}

.btn_primary {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn_primary:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg); 
}

/* my project section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  height: 90vh;
  color: aliceblue;
}

.my-projects {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: purple;
}

.allProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 60vh;
    color: white;
}
.projectName {
  display: flex;
  flex-direction: column;
}
.projectName div {
  padding: 10px;
  margin: 1px;
  width: 100%;
  border: 1px solid white;
  cursor: pointer;
}
.projectName div:hover {
  background-color: purple;
}
.aboutProject {
  align-items: center;
  width: 60%;
  height: 188px;
  display: flex;
}
.aboutProject2{
display:none;
}

/* Skills section */
.skillsSection {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  height: 40vh;
  left: 50%;
  width: auto;
  background-color:transparent;
}
.skills {
  width: 20%;
  height: 60px;
  background-color: bisque;
  font-size: 50px;
  padding: 0px;
  color: black;
  display: inline;
}
.skills-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-data div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.skills-data div div {
  padding: 11px 15px;
  background-color: transparent;
  margin: 5px;
}

/* Contact section */
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
  width: auto;
  height: 40vh;
  

}
.contact {
  
  width: 30%;
  height: 60px;
  background-color: bisque;
  font-size: 50px;
  padding: 0px;
  color: black;
  display: inline;
}



}
/*.pp img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}*/
.contact-sources {
  font-size: 25px;
  
}

footer {
  background-color: transparent;
  font-size: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* responsive */
/* @media screen and (max-width: 700px ) {
  .aboutSection {
    font-size: 50px;
    color: red;
  }
} */

@media screen and (max-width: 600px) {
  .about{
  font-size:40px;
  }
  .intro {
    font-size: 30px;
  }

  .about-data {
    font-size: 20px;
  }
  nav ul span {
    font-size: 15px;
  }

  .allProjects {
    flex-direction: column;
    font-size: 18px
  }
  .projectName {
    flex-direction: row;
    text-align: center;
  }
  .contact-sources {
    font-size: 15px;
  }
  .aboutProject2{
  display:block;
  }
  .aboutProject1{
  display:none;
  }
}
